*{
    margin: 0px;
    padding: 0px;

}
.section{
    width: 40%;
    background-color: rgb(255, 115, 0);
    float: left;
    height: 600px;
}
.img1{
    width: 60%;
    float: left;
    height: 600px;
    

}
.x{
    position: absolute;
    top: 200px;
    left: 400px;
    color: azure;
}
.y{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 250px;
    left: 480px;
    color: azure;
    background-color: black;
}
.y:hover{
    background-color: aliceblue;
    color: black;
}
.section2{
    background-color: rgba(45, 131, 218, 0.744);
}
.card
{
    width: 30%;
    height: 600px;
    float: left;
    background-color: rgba(20, 22, 24, 0.744);
    margin-top: 11px;
    margin-bottom: 11px;  
    text-align: center;
}
.card2{
    width: 38%;
    height: 600px;
    float: left;
    background-color: rgba(20, 22, 24, 0.744); 
    margin: 11px;
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: center;  
}
.card3{
    width: 30%;
    height: 600px;
    float: left;
    background-color: rgba(20, 22, 24, 0.744);
    margin-top: 11px;
    margin-bottom: 11px; 
    text-align: center;  
}
.about{
    text-align: center;
    width: auto;
    height: 150px;
    margin: 100px;
   
}
    .btn{
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(252, 138, 39);
    }