*
{
    margin: 0px;
    padding: 0px;
}
.picture{
    width: 100%;
    height: 650px;
}
.intro{
    position: absolute;
    top: 350px;
    right: 600px;
    color: azure;
    font-size: large;

}
.about{
    text-align: center;
    width: auto;
    height: 150px;
    margin: 100px;
}
.btn{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(252, 138, 39);
   
}
.pic{
    width: 800px;
    height: 600px;
}
.intro2{
    text-align: center;
}
.pic1{
    float: left;
}
.details{
    width: 460px;
    height: 600px;
    background-color: rgb(252, 138, 39);
    float: left;
}
